/* Animate the logo with keyframes. */ 
#logo {
    width: 25px;
    opacity: 0;
    animation: logo-grow 5s ease-in-out forwards;
}

@keyframes logo-grow {
    0% {
        width: 25px;
        opacity: 0;
    }

    100% {
        width: 475px;
        opacity: 1;
    }
}

/* step 2 */
body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* step 3 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* step 4 */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* step 5 */
a:link,
a:visited {
    color: #0000EE;
}

/* step 6 * /
.card>header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* step 7 */
.card {
    flex-basis: 450px;
}

/* step 8 */
.pricing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


/* step 9 */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}


/* step 10 */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

@media (min-width: 900px) {
    
    /* step 11 */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    
    /* step 12 */
    .pricing {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        /* justify-content: center; */
    }

    .card {
        flex-basis: 275px;
    }

    /* step 13 */
    body>header {
        position: sticky;
        z-index: 999;
        top: 0;
    }

}

/* step 14 */
@media (prefers-reduced-motion: reduce) {

    #logo {
        animation: none !important;
    }
}

@media print and (orientation: portrait) {
    /* step 15 and 16 */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* step 17 */
    nav {
        width: 100%;

    }

    .nav_links {
        display: flex;
        flex-direction: row;
         align-items: flex-end;
        justify-content: space-around;
    }

    /* step 18 */
    .pricing {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    
    /* step 19 */
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /* step 20 */
    .gallery,
    #gallery {
        display: none;
    }
    /* step 21 */
    .card ul li:nth-child(2n)::after {
        content: "\1F44D";
    }
}
